.main{
	display: flex;
	justify-content: space-around;
}
.left,.middle{
	direction: rtl;
	width: 30%;
	border: 2px solid blue;
	margin: 1%;
	padding: 1%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 15px 0px 15px 0px blue;
}
button{
	color: blue;
}
a{
	text-decoration: none;
}